body {
  background-color: #FFFFFF;
}

.navbar {
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  gap: 10px 20px; 
  row-gap: 10px;
  column-gap: 20px;
}

.categoriesContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  gap: 10px 20px; 
  row-gap: 10px;
  column-gap: 20px
}

.cartContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  gap: 10px 20px; 
  row-gap: 10px;
  column-gap: 20px
}

.PLPcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  gap: 10px 20px; 
  row-gap: 10px;
  column-gap: 20px
  
}

.PLPimage {
  width: 200px;
  height: 200px;
}

.PLPitem {
  margin: 10px;
}